@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  font-family: 'DM Sans', sans-serif;
  --text-default: #1C202E;
  --text-tertiary: #5A5F70;
  --text-on-brand: #F5F5F5;
  --text-disabled-default: #757A88;
  --background-default: #2E364C;
  --background-default-default: #FAFAFB;
  --border-default: #D1D2D9;
}