@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-default: 'DM Sans', sans-serif;
  --color-text-default: #1C202E;
  --color-text-tertiary: #5A5F70;
  --color-text-on-brand: #F5F5F5;
  --color-text-neutral: #F1F5F9;
  --color-text-disabled-default: #757A88;
  --color-background-default: #2E364C;
  --color-background-default-default: #FAFAFB;
  --color-border-default: #D1D2D9;
}