@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-default: 'DM Sans', sans-serif;

  --color-text-primary: #1C202E;
  --color-text-secondary: #5A5F70;
  --color-text-on-brand: #F5F5F5;
  --color-text-disabled: #757A88;
  --color-text-neutral: #F1F5F9;

  --color-background-brand: #2E364C;
  --color-background-surface: #FAFAFB;
  
  --color-border-default: #D1D2D9;
}